@import "tailwindcss";

  ::-webkit-scrollbar {
    display: none;
  }
  
  * {
    scrollbar-width: none;
    -ms-overflow-style: none;
  }
  
  html {
    scroll-behavior: smooth;
  }
  
  :root {
    --bg-primary: #f3f4f6;
    --bg-secondary: #ffffff;
    --text-primary: #111827;
    --text-secondary: #6b7280;
    --border-color: #e5e7eb;
  }
  
  .dark {
    --bg-primary: #111827;
    --bg-secondary: #1f2937;
    --text-primary: #f9fafb;
    --text-secondary: #9ca3af;
    --border-color: #374151;
  }